# https://stackoverflow.com/questions/3225862/multiple-github-accounts-ssh-config

Host *
        IdentitiesOnly yes

# personal
Host github.com
        HostName github.com
        PreferredAuthentications publickey
        IdentityFile ~/.ssh/id_ed25519

# work
Host work.github.com
        HostName github.com
        PreferredAuthentications publickey
        IdentityFile ~/.ssh/id_ed25519_work